* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1, h2, h3{
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.07em;
}
span, p{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0.06em;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #A6CFD5;
}
.pokelogo{
  max-width: 60px;
}
.social-links{
  max-width: 100px;
  display: flex;
  justify-content: space-between;
  margin-right: 1.3em;
}
.social-links img{
  margin-left: .5em;
  margin-right: .5em;
  max-width: 45%;
}
.title a{
  text-decoration: none;
  color: #0F084B;
}
header div img{
  max-width: 100%;
}
.footer-elements{
  margin-top: 1.5em;
  padding: 1em;
  background-color: #A6CFD5;
}
.inner-footer{
  border: 1px solid;
  padding: .5em;
  text-align: center;
}