* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1, h2, h3,h4{
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.07em;
}
span, p, #navBar{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0.06em;
}
.upper-header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #A6CFD5;
  align-items: center;
}
.pokelogo{
  max-width: 60px;
  height: auto;
  margin: 0;
}
.social-links{
  max-width: 100px;
  display: flex;
  justify-content: space-between;
  margin-right: 1.3em;
}
.social-links img{
  margin-left: .5em;
  margin-right: .5em;
  max-width: 45%;
}
.title a h1{
  margin-left: 2em;
}
.title a{
  text-decoration: none;
  color: #0F084B;
}
header div img{
  max-width: 100%;
}
#navBar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  text-align: center;
}
#navBar a{
  text-decoration: none;
  color: #A6CFD5;
  list-style-type: none;
  width: 100%;
}
#navBar a:nth-child(1), #navBar a:nth-child(2){
  border-right: 1px solid #0F084B;
}
#navBar a li{
  background-color: #E2F3EC;
  padding: 1em;
  margin: 0;
  width: 100%;
  color: #0F084B;
}
#navBar li:hover{
  background-color: #C2E7D9;
}
.footer-elements{
  margin-top: 1.5em;
  padding: 1em;
  background-color: #A6CFD5;
}
.inner-footer{
  border: 1px solid;
  padding: .5em;
  text-align: center;
}
/* main element body */
.hero-banner{
  margin-top: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  text-align: center;
  background-color: #C2E7D9;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 14px;
}
/* Search bar */
.searchBar{
  margin: 0 auto;
  padding: 1em;
  max-width: 40%; 
  margin-top: 2em;
}
#pkmnName{
  width: 70%;
  padding: .5em;
  border-radius: 5px;
  border: 1px solid;
}
#searchPkmn{
  padding: .45em;
  width: 17%;
}
.line-div{
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.8em;
}
#poke-recommend{
  text-align: center;
}
.recent-newsletter{
  display: flex;
  justify-content: space-around;
  margin-top: 1.5em;
}
#vertical-div{
  border-right: 1px solid;
  margin-left: .5em;
  margin-right: .5em;
}
#newsletter{
  background-color: #C2E7D9;
  padding: 1em;
  text-align: center;
  border-radius: 14px;
  margin-right: 1em;
  margin-left: 1em;
  max-width: 40%;
}
#newsletter h3{
  line-height: 2em;
}
#newsletter button{
  padding: .47em;
  width: 15%;
}
#recent-search{
  margin-left: 1em;
  margin-right: 1em;
  min-width: 40%;
}
.card-container{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.pokemon-card{
  background-color: #C2E7D9;
  padding: 1em;
  border-radius: 10px;
}
.pokemon-card a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #0F084B;
}
.pokemon-card a img{
  max-width: 120px;
  height: auto;
}