* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1, h2, h3,h4{
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.07em;
}
span, p, #navBar, button{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0.06em;
}
.upper-header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #A6CFD5;
  align-items: center;
}
.pokelogo{
  max-width: 60px;
  height: auto;
  margin: 0;
}
.social-links{
  max-width: 100px;
  display: flex;
  justify-content: space-between;
  margin-right: 1.3em;
}
.social-links img{
  margin-left: .5em;
  margin-right: .5em;
  max-width: 45%;
}
.title a h1{
  margin-left: 2em;
}
.title a{
  text-decoration: none;
  color: #0F084B;
}
header div img{
  max-width: 100%;
}
#navBar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  text-align: center;
}
#navBar a{
  text-decoration: none;
  color: #A6CFD5;
  list-style-type: none;
  width: 100%;
}
#navBar a:nth-child(1), #navBar a:nth-child(2){
  border-right: 1px solid #0F084B;
}
#navBar a li{
  background-color: #E2F3EC;
  padding: 1em;
  margin: 0;
  width: 100%;
  color: #0F084B;
}
#navBar li:hover{
  background-color: #C2E7D9;
}
.footer-elements{
  margin-top: 1.5em;
  padding: 1em;
  background-color: #A6CFD5;
}
.inner-footer{
  border: 1px solid;
  padding: .5em;
  text-align: center;
}
/* main element body */
.hero-banner{
  margin-top: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  text-align: center;
  background-color: #C2E7D9;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 14px;
}
/* Search bar */
.searchBar{
  margin: 0 auto;
  padding: 1em;
  max-width: 40%; 
  margin-top: 2em;
}
#pkmnName{
  width: 70%;
  padding: .5em;
  border-radius: 5px;
  border: 1px solid;
}
#searchPkmn{
  padding: .45em;
  width: 17%;
}
.line-div{
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.8em;
}
#poke-recommend{
  text-align: center;
}
.recent-newsletter{
  display: flex;
  justify-content: space-around;
  margin-top: 1.5em;
}
#vertical-div{
  border-right: 1px solid;
  margin-left: .5em;
  margin-right: .5em;
}
#newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #C2E7D9;
  padding: 1em;
  text-align: center;
  border-radius: 14px;
  margin-right: 1em;
  margin-left: 1em;
  max-width: 40%;
}
#newsletter h3{
  line-height: 2em;
  padding: 1em;
}
#newsletter button{
  padding: .47em;
  width: 25%;
}
#recent-search{
  margin-left: 1em;
  margin-right: 1em;
  min-width: 40%;
  text-align: center;
}
#recent-search-list{
  background-color: #C2E7D9;
  padding: .8em;
  border-radius: 8px;
}
#recent-search-list p{
  background-color: #A6CFD5;
  padding: .3em;
  border-radius: 8px;
}
.card-container{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.pokemon-card{
  background-color: #C2E7D9;
  padding: 1em;
  border-radius: 10px;
}
.pokemon-card a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #0F084B;
  align-items: center;
}
.pokemon-card a img{
  max-width: 120px;
  height: auto;
}
#pokemon-show{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  padding: 1em;
  margin: 1em;
}
#pokemon-show .pokemon-card{
  margin: 0em 1em 1.5em;
  text-align: center;
}
.divider h2{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.front-back-btns{
  display: flex;
  justify-content: center; 
}
#backBtn img, #frontBtn img{
  width: 2.2em;
  height: auto;
}
.pageIndicator{
  margin-left: 2em;
  margin-right: 2em;
}
#pageInfos{
  display: flex;
  justify-content: space-between;
}
.pokemon-details-card{
  margin: 3em auto 2em;
  max-width: 70%;
  padding: 2em;
  border-radius: 8px;
  background-color: #C2E7D9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-details{
  display: flex;
  align-content: center;
  padding: .5em;
  width: 100%;
  justify-content: space-around;
}
.pokemon-details img{
  align-self: center;
}
.pokemonTitle{
  text-align: center;
}
#pokemonDetailsTitle{
  margin: 2em auto 1em;
}
.addPokeBuildBtn{
  width: 30%;
  padding: .5em;
  border-radius: 8px;
  border: 1px solid;
}
#move-list{
  background-color: #C2E7D9;
  margin: 0 auto;
  width: 85%;
  padding: 1em;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#move-list p{
  padding: .7em;
  background-color: #E2F3EC;
  border-radius: 8px;
  margin-left: .5em;
  margin-right: .5em;
}
.deleteBtn{
  width: 16%;
  height: auto;
}
.pokemon-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12em;
}
.team-container{
  justify-content: space-around;
  display: flex;
  padding: 1em;
  margin: 1em 4em 1em 4em;
  background-color: #A6CFD5;
  border-radius: 9px;
}
.result{
  padding: 1em;
  display: flex;
  justify-content: center;
  background-color: #A6CFD5;
  margin: 1em 4em;
  border-radius: 10px;
}

@media only screen and (min-width: 42rem) and (max-width: 65.99rem){ 
  .hero-banner h2{
    font-size: 1.2em;
  }
  .searchBar{
    max-width: 60%;
  }
  .searchBar input#pkmnName{
    width: 60%;
  }
  .searchBar input#searchPkmn{
    width: 20%;
  }
  .card-container{
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .pokemon-card{
    max-width: 100%;
    width: 77%;
  }
  .pokemon-card a{
    flex-direction: row;   
    gap: 1.3em;
  }
  .recent-newsletter{
    flex-direction: column;
    gap: 2em;
  }
  #vertical-div{
    display: none;
  }
  #newsletter{
    max-width: 90%;
    width: 100%;
    align-self: center;
  }
  #pokemon-show .pokemon-card a{
    flex-direction: column;
  }
  #pokemon-show{
    justify-items: center;
  }
  .team-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: center;
    align-content: center;
    gap: 2em;
  }
  .team-container .pokemon-card a{
    flex-direction: column;
  }
}

@media only screen and (min-width: 23rem) and (max-width: 41.99rem){ 
  .upper-header{
    gap: .55em;
  }
  .title{
    font-size: .85rem;
  }
  .title a h1{
    margin-left: 1.5em;
    margin-right: .2em;
    text-align: center;
  }
  .social-links{
    flex-direction: column;
    gap: .5em;
    align-items: end;
    margin-right: .3em;
  }
  .social-links img{
    max-width: 60%;
  }
  .hero-banner h2{
    font-size: 1em;
    line-height: 1.8rem;
  }
  .searchBar{
    max-width: 100%;
  }
  .searchBar input#searchPkmn{
    width: 30%;
    margin-top: 1.5em;
  }
  .card-container{
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .pokemon-card{
    max-width: 100%;
    width: 90%;
  }
  .pokemon-card a{
    flex-direction: row;   
    gap: .8em;
  }
  .recent-newsletter{
    margin-top: 1em;
    flex-direction: column;
    gap: 2em;
  }
  #vertical-div{
    display: none;
  }
  #newsletter{
    max-width: 90%;
    width: 100%;
    align-self: center;
  }
  #pokemon-show .pokemon-card{
    margin: .5em;
    justify-self: center;
  }
  .pokemon-details{
    flex-direction: column;
    align-items: center;
  }
  .addPokeBuildBtn{
    width: 80%;
    margin-top: 1em;
  }
  .team-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: center;
    align-content: center;
    gap: 2em;
    margin: 1em 1em;
    padding: .8em;
  }
  .team-container .pokemon-card{
    flex-direction: row;
  }
  .team-container .pokemon-card .deleteBtn{
    max-width: 8%;
    margin-right: .5em;
  }
  .team-container .pokemon-card img{
    max-width: 18%;
  }
  .team-container .pokemon-card a{
    flex-direction: row;
  }
  .result .pokemon-card a{
    flex-direction: column;
  }
}