<div class="upper-header">
    <div class="pokelogo">
        <img src="../images/logos/pokeball-pokemon-svgrepo-com.svg" alt="pokeball logo">
    </div>
    <div class="title">
        <a href="../../index.html"><h1>PokeBuilder App</h1></a>
    </div>
    <div class="social-links">
        <img src="../images/logos/facebook-svgrepo-com.svg" alt="facebook logo">
        <img src="../images/logos/twitter-svgrepo-com.svg" alt="twitter logo">
    </div>
</div>
<!-- Nav  -->
<nav id="navBar">
    <ul>
        <a href="../../index.html"><li id="Home">Home</li></a>
        <a href="../../pokemon/index.html"><li id="Pokemon-page">Pokémon</li></a>
        <a href="../../poke_builder/index.html"><li id="pokebuilder-page">PokeBuilder</li></a>
    </ul>
</nav>